<!DOCTYPE html>
<html>
<head>
    <title>Modify Product</title>
</head>
<body>
    <h2>Modify Product</h2>
    <form action="/modify_product/" method="post">
        <label for="product_id">Product ID:</label>
        <input type="number" id="product_id" name="product_id" required>
        <br><br>
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name">
        <br><br>
        <label for="release_date">Release Date:</label>
        <input type="text" id="release_date" name="release_date">
        <br><br>
        <label for="product_price">Product Price:</label>
        <input type="number" id="product_price" name="product_price">
        <br><br>
        <label for="software_requirements">Software Requirements:</label>
        <textarea id="software_requirements" name="software_requirements"></textarea>
        <br><br>
        <label for="hardware_requirements">Hardware Requirements:</label>
        <textarea id="hardware_requirements" name="hardware_requirements"></textarea>
        <br><br>
        <label for="product_version">Product Version:</label>
        <input type="text" id="product_version" name="product_version">
        <br><br>
        <label for="product_description">Product Description:</label>
        <textarea id="product_description" name="product_description"></textarea>
        <br><br>
        <input type="submit" value="Modify">
    </form>
</body>
</html>
